content {
  background-color: #f7f8fa;
}

#write {
  background-color: #fff;
}

#write img {
  border: 1px solid rgb(229, 229, 229);
}

#typora-sidebar {
  background-color: #fff !important;
}

/* 行内代码高亮颜色 */
code {
  color: #f50059;
}

.md-heading code, #typora-sidebar code {
  color: inherit;
}
